body {
  font-size: 16px;
  font-family: sans-serif;
}

button, input, textarea {
  font-size: 16px;
  font-family: monospace;
}

p, h2, h3 {
  margin: 20px 50px;
  margin-bottom: 0;
}

h2 {
  font-size: 48px;
  font-weight: normal;
}

sup {
  font-size: 0.5em;
}

h3 {
  font-size: 26px;
  font-weight: normal;
}

#statusContainer {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  flex-wrap: wrap;
}

#chart {
  width: 100%;
  height: calc(15vw + 14px);
  margin: 60px 0;
  background-color: #FAFAFA;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow: hidden;
}

textarea {
  width: 100%;
  height: 400px;
}
